<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntravel.dao.LikeMapper">
    <resultMap id="BaseResultMap" type="com.yuntravel.po.StrategyLike">
        <id column="slId" jdbcType="INTEGER" property="slId" />
        <result column="strategyId" jdbcType="INTEGER" property="strategyId" />
        <result column="userId" jdbcType="INTEGER" property="userId" />
        <result column="likeStatus" jdbcType="VARCHAR" property="likeStatus" />
    </resultMap>
    <sql id="Base_Column_List">
    slId, strategyId, userId,likeStatus
  </sql>
    <select id="qryByIds"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from strategy_like
        <where>
            <if test="strategyId!=0">strategyId = #{strategyId,jdbcType=INTEGER}</if>
            <if test="userId!=0">and userId = #{userId,jdbcType=INTEGER}</if>
        </where>
    </select>

    <select id="getCountNum" resultType="java.lang.Integer">
        select count(distinct userId) from strategy_like
        <where>
            <if test="strategyId!=0">strategyId = #{strategyId,jdbcType=INTEGER}</if>
        </where>
    </select>

    <delete id="delByIds" >
      delete from strategy_like where strategyId= #{strategyId,jdbcType=INTEGER} and userId= #{userId,jdbcType=INTEGER}
    </delete>

    <insert id="addNew" >
        INSERT INTO strategy_like
        VALUES ((SELECT (MAX(s.slId)+1) slId FROM strategy_like s),#{strategyId,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},"0")
    </insert>
</mapper>